@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

:root {
  --primary-font: "Inter";
  --max-content-width: 1400px;
  --color-text: #000;
  --color-text-offset: #ccc;
  --color-bg-secondary: #ffcc00;
  --color-bg-primary: #fff;
  --color-bg-primary-offset: #eee;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--primary-font), -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background-color: var(--color-bg-primary);
  color: var(--color-text);
  line-height: 1.5;
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
